<template name="loginPage">
    <div class="col-sm-4 col-sm-offset-4 top-100">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Username</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="userName" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label col-xs-2">Password</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="checkbox">
                        <label><input type="checkbox"> Remember me</label><br/>
                        No account Yet? <a href="/signup"> Sign Up for free!</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
            <hr/>
            <h5>or login with the following:</h5>
            <ul class="loginlist text-center" >
                <li>
                    <a><i class="fa fa-facebook-official"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-google fred1"></i></a>
                </li>
                <li>
                    <a><i class="fa fa-twitter fblue5"></i></a>
                </li>
            </ul>
        </form>
    </div>
</template>