<template name="signUp">
    <form class="form-horizontal">
        <div class="col-sm-4">
            <h3>Account Info</h3>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Username</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="userName" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label col-xs-2">Password</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" id="password1" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label col-xs-2">Confirm Password</label>
                <div class="col-xs-10">
                    <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h3>Personal Info</h3>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Name</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Mobile Number</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="mobileNumber" placeholder="Mobile Number">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Landline Number</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="landlineNumber" placeholder="Landline Number">
                </div>
            </div>
            <hr/>
            <h3>Address</h3>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Block/Lot</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="blockLot" placeholder="Block/Lot">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Street</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="street" placeholder="Street">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Barangay</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="barangay" placeholder="Barangay">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">City</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="city" placeholder="City">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label col-xs-2">Province</label>
                <div class="col-xs-10">
                    <input type="text" class="form-control" id="province" placeholder="Province">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="checkbox">
                        <label><input name="userLevel" checked id="customerRadio" type="radio"> Customer</label>
                        <label><input name="userLevel" id="ownerRadio" type="radio"> Owner</label><br/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10 ">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <h3>Please download our application in the link below</h3><br/><br/><br/>
            <a href="#"><h3>Transact Application Beta Download Link</h3></a>
        </div>
    </form>
</template>