<template name="consumerTransactions">
    <div class="col-xs-12 padd-20">
        <button class="btn btn-default btn-lg btn-block top-20 pull-text-left pending" >Pending <span class="badge pull-right">{{Pending}}</span></button>
        <button class="btn btn-default btn-lg btn-block top-20 pull-text-left delivery" >For Delivery <span class="badge pull-right">{{Delivery}}</span></button>
        <button class="btn btn-default btn-lg btn-block top-20 pull-text-left completed" >Completed <span class="badge pull-right">{{Completed}}</span></button>
    </div>
</template>