<template name="consumerProductSkus">
    <div class="col-xs-12">
        <ul class="list-group">
            {{#each Sku}}
                {{#if isAvailable}}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="bold">{{unit}}</h4>
                                <label class="fgreen5 _17">P {{price}} each</label>
                                <button class="btn btn-info btn-sm pull-right order" id="{{_id}}">Order</button>
                            </div>
                        </div>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</template>