<template name="consumerIndex">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6 text-center">
                <img src="../icons/laundry.png" class="home-icon"/><br/>
                <label class="fblue5">Laundry</label>
            </div>
            <div class="col-xs-6 text-center">
                <img src="../icons/water.png" class="home-icon"/><br/>
                <label class="fblue5">Drinking Water</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6 text-center">
                <img src="../icons/lpg.png" class="home-icon"/><br/>
                <label class="fblue5">LPG Gas</label>
            </div>
            <div class="col-xs-6  text-center">
                <a href="/consumer/productlist"><img src="../icons/details.png" class="home-icon"/><br/>
                <label class="fblue5">Other</label></a>
            </div>
        </div>
    </div>
</template>

<template name="consumerLayout">
    <div class="custom-window">
        <div class="row">
            <div class="consumer-nav padd-5">
                <ul>
                    <li><a href="/consumer/"><i class="fa fa-home fwhite  fhoverblue10"></i></a></li>
                    <li><a href="/consumer/transactions"><i class="fa fa-list-alt fwhite  fhoverblue10"></i></a></li>
                    <li><a href="/consumer/orders"><i class="fa fa-shopping-cart fwhite  fhoverblue10"></i></a></li>
                    <li><a href="/consumer/settings"><i class="fa fa-cog fwhite fhoverblue10"></i></a></li>
                    <li><a href="/"><i class="fa fa-arrow-right fwhite fhoverblue10"></i></a></li>
                </ul>
            </div>
            {{>yield}}
        </div>
    </div>
</template>