<template name="consumerSettings">
    <div class="col-xs-12 padd-20">
        <button class="btn btn-default btn-lg btn-block top-20"  data-toggle="collapse" data-target="#accountSettings">Account Settings</button>
        <div id="accountSettings" class="collapse">
            <div class="col-xs-12 padd-10 bggray5">
               <form id="form1">
                       <div class="form-group">
                           <label for="inputEmail" class="control-label">Username</label>
                           <input type="text" class="form-control" readonly id="userName" placeholder="Username" value="{{User.name}}">
                       </div>
                       <div class="form-group">
                           <label for="inputPassword" class="control-label">Password</label>
                               <input type="password" class="form-control" id="password1" placeholder="Password">
                       </div>
                       <div class="form-group">
                           <label for="inputPassword" class="control-label">Confirm Password</label>
                           <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
                       </div>
               </form>
            </div>
        </div>
        <button class="btn btn-default btn-lg btn-block top-20"  data-toggle="collapse" data-target="#profileSettings">Profile Settings</button>
        <div id="profileSettings" class="collapse">
        </div>
        <button class="btn btn-default btn-lg btn-block top-20" data-toggle="collapse" data-target="#supplierSettings">Supplier Settings</button>
        <div id="supplierSettings" class="collapse">
            <div class="col-xs-12 bggray5">
                <h4 class="bold">Current Supplier</h4>
                {{#if currentSupplier}}
                    <ul class="list-group bggray5">
                        <li class="list-group-item bgblue5 fwhite">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="">{{currentSupplier.name}}</label><br/>
                                    <label class="normal">Contact Number (Landline/Mobile):<br/>{{currentSupplier.landlineNumber}}/{{currentSupplier.mobileNumber}}</label><br/>
                                    <label class="normal">Address:<br/>{{currentSupplier.addressBlockLot}},&nbsp;{{currentSupplier.addressStreet}},&nbsp;{{currentSupplier.addressBarangay}},&nbsp;{{currentSupplier.addressCity}},&nbsp;{{currentSupplier.addressProvince}}</label>
                                </div>
                            </div>
                        </li>
                    </ul>
                {{/if}}
            </div>
            <div class="col-xs-12" style="max-height: 800px; overflow-y: scroll;">
                <ul class="list-group bggray5">
                    {{#each Supplier}}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="fblue5">{{name}}</label><br/>
                                    <label class="normal">Contact Number (Landline/Mobile):<br/>{{landlineNumber}}/{{mobileNumber}}</label><br/>
                                    <label class="normal">Address:<br/>{{addressBlockLot}},&nbsp;{{addressStreet}},&nbsp;{{addressBarangay}},&nbsp;{{addressCity}},&nbsp;{{addressProvince}}</label>
                                    <br/>
                                    <button class="btn btn-info btn-sm setsupplier" id="{{_id}}">Set as Supplier</button>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>